@charset "ISO-8859-1";

#wrapper {
    width: 900px;;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-family: arial, sans-serif;
}
header {
    padding: 15px;
    background-color: gray;
    margin-bottom: 15px;
    height:60px;
}
section {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #F2F2F2;
    margin-bottom: 10px;
}

.home {
	padding: 10px;
	text-align: center;
}


.dropdownTestfälle {
	margin-right: 15px;
}
.dropdownGeschwindigkeit {
	margin-right: 15px;
}


.ausgabe {
	margin-top: 15px;
	height: 300px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

.button {
	float: right;
}

.navigation{
	margin-bottom: 20px;
}



table{
    border-collapse: collapse;
    width: 100%;
}
th {
    height: 20px;
    text-align: center;
    background-color: #DEDCD9;
}
td {
    height: 20px;
    text-align: center;
}


