@charset "ISO-8859-1";

#wrapper {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-family: arial, sans-serif;
}
header {
    padding: 15px;
    background-color: lime;
    margin-bottom: 15px;
    height:auto;
}

section {
    width: 770px;
    height: auto;
    padding: 10px;
    background-color: silver;
    float: left;
}
    
aside {
	padding: 10px;
	width: 770px;
	height: auto;
	float: right;
	background-color: silver;
}
    
.navigation{
	height: 30px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: silver;
}    

.navigation h {
	margin-right: 10px;
	font-size: 18px;
}

.navigation a {
	float: right;
	font-size: 18px;
	margin-right: 650px;
}

.scroll1 {
	height: auto;
	overflow: scroll;
	
}    

.table1 {
	background-color: white;
}
   
    


.home {
	padding: 10px;
}
.home h1 {
	text-align: center;
}

.dropdownTestfälle {
	margin-right: 15px;
	font-size: 18px;
}
.dropdownGeschwindigkeit {
	margin-right: 15px;
	font-size: 18px;
}



.button {
	float: right;
	font-size: 18px;
}


table{
    border-collapse: collapse;
    width: 100%;
}
th {
    height: 20px;
    text-align: center;
    background-color: #DEDCD9;
}
td {
    height: 20px;
    text-align: center;
}